<h2 mat-dialog-title>Offers from Order Ref. {{ order.id }}</h2>

<mat-dialog-content>

  <mat-list>
    <mat-list-item>Producer: {{ order.owner | accountAddress }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Spot Market</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Day ahead</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Quantity: {{ order.quantity }} MWh</mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <div *ngIf="order.state === 'Close' || order.state === 'Canceled'">
    <br>
    <br>
    <h2 mat-dialog-title>Accepted Offer</h2>

    <mat-list *ngIf="order.acceptedOffer">
      <mat-list-item>Supplier: {{ order.acceptedOffer.owner | accountAddress }}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Price: {{ order.acceptedOffer.price }} €</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <br>
    <br>
    <h2 mat-dialog-title>History of Offers</h2>
  </div>

  <div class="table-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <!-- offer Ref. Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Offer Ref. </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.id}} </mat-cell>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
        <mat-cell *matCellDef="let offer"> Buy </mat-cell>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="unsafeCreatedTimestamp">
        <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.unsafeCreatedTimestamp | date}} </mat-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.quantity}} MWh</mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.price}} €</mat-cell>
      </ng-container>

      <!-- Origin Column -->
      <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef> Origin </mat-header-cell>
        <mat-cell *matCellDef="let offer"> {{offer.owner | accountAddress}} </mat-cell>
      </ng-container>

      <!-- Accept Offer Column -->
      <ng-container matColumnDef="acceptOffer">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let offer">
          <button mat-stroked-button color="primary" (click)="accept(offer)">
            ACCEPT OFFER
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

</mat-dialog-content>
