<h1 mat-dialog-title *ngIf="!isPublic">Market</h1>
<h1 mat-dialog-title *ngIf="isPublic">Energy Market</h1>

<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <!-- Type Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.action}} </mat-cell>
    </ng-container>

    <!-- Order Ref. Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Order Ref. </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="unsafeCreatedTimestamp">
      <mat-header-cell *matHeaderCellDef> Created at </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.unsafeCreatedTimestamp | date}} </mat-cell>
    </ng-container>

    <!-- Product Column -->
    <ng-container matColumnDef="product">
      <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.product}} </mat-cell>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.quantity}} MWh</mat-cell>
    </ng-container>

    <!-- Origin Column -->
    <ng-container matColumnDef="owner">
      <mat-header-cell *matHeaderCellDef> Origin </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.owner | accountAddress}} </mat-cell>
    </ng-container>

    <!-- No. Offers Column -->
    <ng-container matColumnDef="offerCount">
      <mat-header-cell *matHeaderCellDef> No. Offers </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.offerCount}} </mat-cell>
    </ng-container>

    <!-- See Offers Column -->
    <ng-container matColumnDef="seeOffers">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let order">
        <button mat-stroked-button color="primary" (click)="openListOffers(order)">SEE OFFERS</button>
      </mat-cell>
    </ng-container>

    <!-- Place Offer Column -->
    <ng-container matColumnDef="placeOffer">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let order">
        <button *ngIf="order.state === 'Open' && !isPublic" mat-stroked-button color="primary" (click)="openCreateOffers(order)">
          PLACE AN OFFER
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>
